{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}        


<header>
    <h1>
        <a href="{{ SITEURL }}" id="site-title">
            {{ SITENAME }}
            {% if SITESUBTITLE %}
                <strong>{{ SITESUBTITLE }}</strong>
            {% endif %}
        </a> :
        <a href="{{ SITEURL }}/{{ page.url }}" id="page-title">
            {{ page.title }}
        </a>
    </h1>
</header>


<article>    
    {{ page.content }}
</article>


<section id="article-list">
    <ol>

        {% for article in articles %}        

            {% if article.category == page.title %}
            <li>
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" >
                    {{ article.title }}
                </a>
            </li>
            {% endif %}
        {% endfor %}

    </ol>
</section>


{% endblock %}
