<ul id="social">
    <li><a href="https://github.com/jminardi"><img src="{{ SITEURL }}/images/social-icons/github.png"></a></li>
    <li><a href="http://www.twitter.com/jackminardi"><img src="{{ SITEURL }}/images/social-icons/twitter.png"></a></li>
    <li><a href="http://www.linkedin.com/in/jackminardi"><img src="{{ SIEURL }}/images/social-icons/linkedin.png"></a></li>
    <li><a href="mailto:jack@minardi.org"><img src="{{ SITEURL }}/images/social-icons/mail.png"></a></li>
    <li><a href="{{ SITEURL }}/feeds/all.rss.xml"><img src="{{ SITEURL }}/images/social-icons/rss.png"></a></li>
</ul>
